<div class="todos-container">
  <h1>Todo List</h1>
  <table class="todos-table">
    <thead>
      <tr>
        <th>Task</th>
        <th>Description</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for ( todo of todos; track todo.id){
      <tr>
        <td>{{ todo.title }}</td>
        <td>{{ todo.description }}</td>
        <td>{{ todo.completed ? "Completed" : "Pending" }}</td>
        <td class="actions">
          <button class="btn view-button" (click)="viewTodo(todo.id)">
            View
          </button>
          <button class="btn edit-button" (click)="editTodo(todo.id)">
            Edit
          </button>
          <button class="btn delete-button" (click)="deleteTodo(todo.id)">
            Delete
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
