<div class="todos-container">
  <h1>Todo List</h1>
  <table>
    <thead>
      <tr>
        <th>Task</th>
        <th>Description</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for ( todo of todos; track todo.id){
      <tr>
        <td>{{ todo.title }}</td>
        <td>{{ todo.description }}</td>
        <td>{{ todo.completed }}</td>
        <td>
          <button (click)="editTodo(todo.id)">Edit</button>
          <button (click)="deleteTodo(todo.id)">Delete</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
