main {
  flex-direction: column;
}
nav,
main {
  display: flex;
  width: 50vw;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
}
